<div class="row" ng-controller="UserAddCtrl">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-body classes=" padding">
        <div>
          <form ng-submit="submitUser()">
            <div class="form-group">
              <label>Nama</label>
              <input type="text" class="form-control" ng-model="postData.user_name">
            </div>
            <div class="form-group">
              <label >Password</label>
              <input type="text" class="form-control" ng-model="postData.password">
            </div>
            <div class="form-group">
              <label >User Level</label>
              <input type="text" class="form-control" ng-model="postData.user_level">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Tambah User</button>
            <button type="button" class="btn btn-default btn-lg" onclick="window.history.back()">Kembali</button>
          </form>
      </rd-widget-body>
    </rd-widget>
  </div>
  
</div>