<div ng-controller="DashboardCtrl">
	<div class="row">
		<div class="col-lg-4 col-md-6 col-xs-12">
			<rd-widget>
				<rd-widget-body>
					<div class="widget-icon green pull-left">
						<i class="fa fa-users"></i>
					</div>
					<div class="title"><label ng-bind="daily">{{daily}}</label></div>
					<div class="comment">Penjualan Hari Ini</div>
				</rd-widget-body>
			</rd-widget>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12">
			<rd-widget>
				<rd-widget-body>
					<div class="widget-icon red pull-left">
						<i class="fa fa-tasks"></i>
					</div>
					<div class="title"><label ng-bind="weekly">{{weekly}}</label></div>
					<div class="comment">Penjualan Minggu Ini</div>
				</rd-widget-body>
			</rd-widget>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12">
			<rd-widget>
				<rd-widget-body>
					<div class="widget-icon orange pull-left">
						<i class="fa fa-sitemap"></i>
					</div>
					<div class="title"><label ng-bind="monthly">{{monthly}}</label></div>
					<div class="comment">Penjualan Bulan Ini</div>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<rd-widget>
				<rd-widget-header icon="fa-users" title="Grafik Penjualan Bulan Ini">
				</rd-widget-header>
				<rd-widget-body classes="padding">
					<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" height="320" width="800"></canvas>
				</rd-widget-body>
			<rd-widget>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<rd-widget>
				<rd-widget-header icon="fa-users" class="red" title="Peringatan Stok">
				</rd-widget-header>
				<rd-widget-body classes="medium no-padding">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr><th>Merk</th><th>Min Stok</th><th>Nama Produk</th><th>Satuan</th><th>Stok Tersisa</th></tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in data_stok">
									<td>{{row.merk_nama}}</td><td class="color_yellow">{{row.min_stock}}</td><td>{{row.product_nama}}</td><td>{{row.satuan_nama}}</td><td class="color_red">{{row.stock}}</td>
								</tr>
							</tbody>
						</table>
	        		</div>
				</rd-widget-body>
			<rd-widget>
		</div>
	</div>
</div>

<style>
td,th{
	text-align: center;
}
.color_red{
	color: red;
}
.color_yellow{
	color: #ff6100;
}
</style>
