<div class="row" ng-controller="ProductDetailCtrl"><div class="col-lg-12"><rd-widget><rd-widget-body classes=" padding">
        <div>
          <form ng-submit="editProduct()">
            <div class="form-group">
              <label for="exampleInputEmail1">Nama Produk</label>
              <input type="text" class="form-control" ng-model="postData.product_nama">
            </div>
            <div class="form-group">
              <label >Merk</label>
              <select class="form-control" ng-model="postData.merk_id" ng-options="merk.merk_id as merk.merk_nama for merk in data_merk">
                <option value="">Pilih Merk</option>
              </select>
            </div>
            <div class="form-group">
              <label >Satuan</label>
              <select class="form-control" ng-model="postData.satuan_id" ng-options="satuan.satuan_id as satuan.satuan_nama for satuan in data_satuan">
                <option value="">Pilih Satuan</option>
              </select>
            </div>
            <div class="form-group">
              <label >Harga Eceran</label>
              <input type="text" class="form-control" ng-model="postData.default_price">
            </div>
            <div class="form-group">
              <label >Harga Supplier</label>
              <input type="text" class="form-control" ng-model="postData.supplier_price">
            </div>
            <div class="form-group">
              <label >Stok</label>
              <input type="text" class="form-control" ng-model="postData.stock">
            </div>
            <div class="form-group">
              <label >Minimal Stok</label>
              <input type="text" class="form-control" ng-model="postData.min_stock">
            </div>
            <div class="form-group">
              <label >Keterangan</label>
              <input type="text" class="form-control" ng-model="postData.remarks">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Update Produk</button>
            <button type="button" class="btn btn-default btn-lg" onclick="window.history.back()">Kembali</button>
          </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
