<div class="row" ng-controller="KasMasukCtrl">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Data Piutang">

      </rd-widget-header>
      <rd-widget-body classes=" no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">ID</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Utang</th>
                <th>Dibayar</th>
                <th>Sisa Utang</th>
                <th>Due Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in data_orders">
                <td class="text-center">{{data.order_id}}</td>
                <td>{{data.piutang_date}}</td>
                <td>{{data.name}}</td>
                <td>{{data.value}}</td>
                <td>{{data.paid}}</td>
                <td>{{data.balance}}</td>
                <td>{{data.due_date}}</td>
                <td>
                  <a ng-click="bayarPiutang(data.order_id,data.customer_id,data.value)">Bayar Piutang</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a ng-click="setpage(1)">|&laquo;</a></li>
          <li><a ng-click="setpage(page_prev)">&laquo;</a></li>
          <li ng-repeat="page_no in pages"><a ng-click="setpage(page_no)">{{page_no}}</a></li>
          <li><a ng-click="setpage(page_next)">&raquo;</a></li>
          <li><a ng-click="setpage(page_count)">&raquo;|</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>

</div>
