
<div ng-controller="ReportCtrl">
  <div class="row" >
  <div class="col-lg-12">
    <form class="padding">
      <div class="form-group col-md-2">

        <label>Pilih Jenis Laporan</label>
        <select class="form-control" ng-model="reportType">
          <option value="stock">Stock</option>
          <option value="restock">Restock</option>
          <option value="utang">Utang</option>
          <option value="piutang">Piutang</option>
          <option value="order">Order</option>
          <option value="cashflow">Aliran Kas</option>

        </select>
      </div>

      <div class="form-group col-md-3" ng-show="reportType!='stock'">
        <label>Dari Tanggal</label>
        <datepicker date-format="yyyy-MM-dd" selector="date1">
            <div class="input-group">
                <input class="form-control date1" placeholder="Choose a date" ng-model="date_from"/>
                <span class="input-group-addon" style="cursor: pointer">
                <i class="fa fa-lg fa-calendar"></i>
                </span>
            </div>
        </datepicker>
      </div>
      <div class="form-group col-md-3" ng-show="reportType!='stock'">
        <label>Sampai Tanggal</label>
        <datepicker date-format="yyyy-MM-dd" selector="date2">
            <div class="input-group">
                <input class="form-control date2" placeholder="Choose a date" ng-model="date_to"/>
                <span class="input-group-addon" style="cursor: pointer">
                <i class="fa fa-lg fa-calendar"></i>
                </span>
            </div>
        </datepicker>
      </div>
      <div class="form-group col-md-2" ng-show="reportType=='utang' || reportType=='restock'">
        <label>Pilih Supplier</label>
        <select class="form-control" ng-model="supplier_id" >
          <option value="0">Semua Supplier</option>
          <option ng-repeat="item in data_supplier" ng-value="{{item.supplier_id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-2" ng-show="reportType=='piutang' || reportType=='order'">
        <label>Pilih Customer</label>
        <select class="form-control" ng-model="customer_id" >
          <option value="0">Semua Customer</option>
          <option ng-repeat="item in data_customer" ng-value="{{item.customer_id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button class="form-control btn btn-primary" style="margin-top:24px;" ng-click="proceedReport()">Tampilkan</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-body>
        <rd-widget-body classes=" no-padding">
          <button class="btn btn-primary" type="button" ng-click="print()">Print</button>

          <div class="table-responsive" id="print_report">
            <h4>{{reportTitle}}</h4>
            <h5>{{reportPeriod}}</h5>

            <table class="table">
              <thead>
								<tr>
                  <th ng-repeat="row in columns">{{row}}</th>
                </tr>
							</thead>
              <tbody>
                <tr ng-repeat="rowData in reportData">
                  <td ng-repeat="col in colname">{{rowData[col]}}</td>
                </tr>
                <!--<tr><td>RDVMPC001</td><td>238.103.133.37</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>-->

              </tbody>
              <tfoot>
                <tr ng-show="sumname.length>0">
                  <td  colspan={{_colspan}}>Total</td><td ng-repeat="col in sumname">{{reportData[0][col]}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </rd-widget-body>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
</div>
