
<div class="row">
  <div class="col-lg-12">
    <form class="padding">
      <div class="form-group col-md-3">
        <label>Pilih Jenis Laporan</label>
        <select class="form-control">
          <option>Stock</option>
          <option>Restock</option>
          <option>Utang</option>
          <option>Piutang</option>
          <option>Order</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>Dari Tanggal</label>
        <datepicker date-format="yyyy-MM-dd" selector="form-control">
            <div class="input-group">
                <input class="form-control" placeholder="Choose a date" ng-model="postData.date"/>
                <span class="input-group-addon" style="cursor: pointer">
                <i class="fa fa-lg fa-calendar"></i>
                </span>
            </div>
        </datepicker>
      </div>
      <div class="form-group col-md-3">
        <label>Sampai Tanggal</label>
        <datepicker date-format="yyyy-MM-dd" selector="form-control">
            <div class="input-group">
                <input class="form-control" placeholder="Choose a date" ng-model="postData.date"/>
                <span class="input-group-addon" style="cursor: pointer">
                <i class="fa fa-lg fa-calendar"></i>
                </span>
            </div>
        </datepicker>
      </div>
      <div class="form-group col-md-3">
        <button class="form-control btn btn-primary" style="margin-top:24px;">Cari</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-body>
        <rd-widget-body classes=" no-padding">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr><td>RDVMPC001</td><td>238.103.133.37</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                <tr><td>RDVMPC002</td><td>68.66.63.170</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                <tr><td>RDVMPC003</td><td>76.117.212.33</td><td><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
                <tr><td>RDPHPC001</td><td>91.88.224.5</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                <tr><td>RDESX001</td><td>197.188.15.93</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                <tr><td>RDESX002</td><td>168.85.154.251</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                <tr><td>RDESX003</td><td>209.25.191.61</td><td><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
                <tr><td>RDESX004</td><td>252.37.192.235</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                <tr><td>RDTerminal01</td><td>139.71.18.207</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
                <tr><td>RDTerminal02</td><td>136.80.122.212</td><td><span tooltip="Could not connect!" class="text-warning"><i class="fa fa-flash"></i></span></td></tr>
                <tr><td>RDDomainCont01</td><td>196.80.245.33</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              </tbody>
            </table>
          </div>
        </rd-widget-body>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
