<div class="row" ng-controller="CustomerCtrl">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Data Customer">
        <a href="#/add_customer" class="btn btn-primary">Tambah Data</a>
      </rd-widget-header>
      <rd-widget-body classes=" no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">ID</th>
                <th>Nama Pelanggan</th>
                <th>Alamat</th>
                <th>No Telp.</th>
                <th>Keterangan</th>
                <th>Harga/Edit/Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="customer in data_customer">
                <td class="text-center">{{customer.customer_id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.phone_no}}</td>
                <td>{{customer.remarks}}</td>
                <td>
                  <a ng-click="priceCustomer(customer.customer_id)">Harga</a> |
                  <a ng-click="detailCustomer(customer.customer_id)">Detail</a> |
                  <a ng-click="deleteCustomer(customer.customer_id)">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a ng-click="setpage(1)">|&laquo;</a></li>
          <li><a ng-click="setpage(page_prev)">&laquo;</a></li>
          <li ng-repeat="page_no in pages"><a ng-click="setpage(page_no)">{{page_no}}</a></li>
          <li><a ng-click="setpage(page_next)">&raquo;</a></li>
          <li><a ng-click="setpage(page_count)">&raquo;|</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>

</div>
