<div class="row" ng-controller="ProductCtrl">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Data Product">
        <a href="#/add_product" class="btn btn-primary">Tambah Data</a>
      </rd-widget-header>
      <rd-widget-body classes=" no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">ID</th>
                <th>Nama Produk</th>
                <th>Merk</th>
                <th>Satuan</th>
                <th>Harga Supplier</th>
                <th>Harga Eceran</th>
                <th>Stok Produk</th>
                <th>Min Stok</th>
                <th>Keterangan</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in data_product">
                <td class="text-center">{{data.product_id}}</td>
                <td>{{data.product_nama}}</td>
                <td>{{data.merk_nama}}</td>
                <td>{{data.satuan_nama}}</td>
                <td>{{data.supplier_price}}</td>
                <td>{{data.default_price}}</td>
                <td>{{data.stock}}</td>
                <td>{{data.min_stock}}</td>
                <td>{{data.remarks}}</td>
                <td>
                  <a ng-click="detailProduct(data.product_id)">Detail</a> |
                  <a ng-click="deleteProduct(data.product_id)">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a ng-click="setpage(1)">|&laquo;</a></li>
          <li><a ng-click="setpage(page_prev)">&laquo;</a></li>
          <li ng-repeat="page_no in pages"><a ng-click="setpage(page_no)">{{page_no}}</a></li>
          <li><a ng-click="setpage(page_next)">&raquo;</a></li>
          <li><a ng-click="setpage(page_count)">&raquo;|</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>

</div>
