<div class="row" ng-controller="TransaksiCtrl">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Transaksi">
      </rd-widget-header>
      <rd-widget-body classes="">
      <button type="button" class="btn btn-primary">Pilih Customer</button>
        <div class="row layout_transaksi">
          <div class="col-md-9 layout_item">
            <div class="header_transaksi"> Item </div>
              <div class="item_product" ng-repeat="data in data_product" ng-click="order_popup('sm',data.product_id,data.product_nama)">
                <div class="item_desc">
                  {{data.merk_nama}}<br>
                  {{data.product_nama}}<br>
                  Rp.100.000
                </div>
              </div>
          </div>
          <div class="col-md-3 layout_checkout">
            <div class="header_transaksi"> Keranjang </div>
            <div class="body_transaksi">
              <div style="text-align: center;width:100%;">Customer</div>
              Nama : <br>
              Alamat : <br>
              No Telp : <br>
              <hr>
              <div style="width:100%;">
                <div ng-repeat="item in cart">{{item.name}} qty : {{item.qty}}</div>
              </div>
            </div>
          </div>
        </div>


      </rd-widget-body>
    </rd-widget>
  </div>
</div>
